<div>
<input class='form-control' type='text' placeholder='Enter your first-name here' ng-model='fname'><hr>
    <input class='form-control' type='text' placeholder='Enter your last-name here' ng-model='lname'><hr>
    <input class='form-control' type='text' placeholder='Enter your email here' ng-model='email'><hr>
    <input class='form-control' type='text' placeholder='Enter your phone number here' ng-model='phoneNum'><hr>
    
   <a href='#step2'><div class='btn btn-info' ng-click='nextto2()'>Next to 2</div></a>
   
   <!--
   
   Using the routeParam method
   
     <a href='#step2/{{fname}}/{{lname}}/{{email}}/{{phoneNum}}'><div class='btn btn-info'>Next to 2</div></a>
 -->
    </div>